.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 15px;
  justify-items: center;
}

.card__character {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}

.card__character figure {
  margin: 0;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.character__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 242px;
  width: 240px;
  position: absolute;
  border-radius: 12px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  padding-block-end: 8px;
}

.character__info-dark {
  color: rgb(201, 201, 201);
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.795));
}

.character__info-light {
  color: black;
  background-image: linear-gradient(to bottom, transparent, rgba(255, 246, 218, 0.795));
}

.character__status {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}

.character-Dead {
  background-color: #ff0000;
}

.character-Alive {
  background-color: #00ff00;
}

.character-unknown {
  background-color: #ffff00;
}

.character__info-dark h3 {
  color: aqua;
}

.character__info-light h3 {
  color: #1B284A;
}

.character__info ul {
  list-style: none;
  padding-left: 24px;
}